img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

canvas {
  border:1px solid black;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
